body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1{
    display: inline-block;
    margin-right: 20px;
}

img{
    vertical-align: middle;
    max-height: 75px;
}

.tagline {
    font-style: italic;
    margin-top: 0.5em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#cta {
    text-align: center;
}

#btnSaibaMais,
#btnEscolherLivro,
#btnEmprestimo,
#btnDevolucao,
#btnRelatorio {
    background-color: #FF6600;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#btnSaibaMais:hover,
#btnEscolherLivro:hover,
#btnEmprestimo:hover,
#btnDevolucao:hover,
#btnRelatorio:hover {
    background-color: #E64D00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cta {
    text-align: center;
    margin-bottom: 20px;
}

.cta-link {
    display: inline-block;
    background-color: #FF6600;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-link:hover {
    background-color: #E64D00;
}

#missao {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}